<div class="container">
  <div class="row">
    <div *ngFor="let sensor of sensors" class="col-4">
      <div
        class="card mt-3"
        [ngClass]="{ 'red-bg': sensor.status === 'offline', 'green-bg': sensor.status === 'online' }"
      >
        <div class="card-body">
          <h5 class="card-title">{{ sensor.id + 1 }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ sensor.name }}</h6>
          <a href="#" (click)="deleteSensor(sensor.id)" class="card-link">Удалить</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <form class="input-group">
      <input
        (change)="onChange($event)"
        [(ngModel)]="inputVal"
        type="text"
        name="sensorName"
        class="form-control"
        placeholder="Введите имя"
        aria-label="Введите имя"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-light" (click)="addSensor()" type="button" id="button-addon2">
          Добавить
        </button>
      </div>
    </form>
  </div>
</div>
